{%- if title is defined -%}
# {{ title }}
{% endif -%}

{%- if src is defined %}

*{{ src }}*
{% endif -%}

{%- if summary is defined %}

## Summary
{{ summary }}
{% endif -%}

{%- if description is defined %}

## Description
{{ description }}
{% endif -%}

{%- if keywords is defined %}

## Keywords
{% for keyword in keywords %}{{ keyword }}{{ ", " if not loop.last else "" }}{% endfor %}
{% endif -%}

{%- if contributors is defined %}

## Contributors
{% for contributor in contributors %}
- **{{ contributor.name }}**  
{% if contributor.affiliation is defined -%}{{ contributor.affiliation }}{{ '  \n' }}{%- endif -%}
{% if contributor.email is defined -%}{{ contributor.email }}{{ '  \n' }}{%- endif -%}
{% if contributor.homepageUrl is defined -%}{{ contributor.homepageUrl }}{{ '  \n' }}{%- endif -%}
{% if contributor.identifier is defined -%}{{ contributor.identifier }}{{ '  \n' }}{%- endif -%}

{% endfor %}
{% endif -%}

{%- if funding is defined %}

## Funding
{% for source in funding %}
- **{{ source.name }}**  
{% if source.sponsor is defined -%}{{ source.sponsor }}{{ '  \n' }}{%- endif -%}
{% if source.identifier is defined -%}{{ source.identifier }}{{ '  \n' }}{%- endif -%}
{% if source.homepageUrl is defined -%}{{ source.homepageUrl }}{{ '  \n' }}{%- endif -%}

{% endfor %}
{% endif -%}

{%- if identifier is defined %}

## Identifier
{{ identifier }}
{% endif -%}

{%- if query is defined %}

## Query
```sql
{{ query }}
```
{% endif -%}

{%- if queryParameters is defined %}
### Parameters
{% for parameter in queryParameters %}
- **{{ parameter.name }}**  
{% if parameter.description is defined -%}Description: {{ parameter.description }}{{ '  \n' }}{%- endif -%}
{% if parameter.type is defined -%}Type: {{ parameter.type }}{{ '  \n' }}{%- endif -%}
{% if parameter.arrayType is defined -%}Array type: {{ parameter.arrayType }}{{ '  \n' }}{%- endif -%}
{% if parameter.defaultValue is defined -%} Default value: {{ parameter.defaultValue }}{{ '  \n' }}{%- endif -%}

{% endfor %}
{% endif -%}

{%- if queryResultColumns is defined %}
### Result columns
{% for resultColumn in queryResultColumns %}
- **{{ resultColumn.name}}**  
{% if resultColumn.description is defined -%}Description: {{ resultColumn.description }}{{ '  \n' }}{%- endif -%}
{% if resultColumn.type is defined -%}Type: {{ resultColumn.type }}{{ '  \n' }}{%- endif -%}

{% endfor %}
{% endif -%}

{%- if not queryIsCacheable %}

**Query is cacheable.**
{% else %}
**Query is not cacheable.**

{% endif -%}
